@import 'style.css';

/* Add the light theme colors  */
body {
  background-color: var(--Very_Pale_Blue);
}
/* Header  */
.header .nav {
  background-color: var(--White);
}
/* Heading  */
.heading h1 {
  font-weight: var(--Very_Dark_Blue);
}
.heading .toggle_switch_btn {
  color: var(--Dark_Grayish_Blue);
  fill: var(--Dark_Grayish_Blue);
}

/* Search bar  */
#myForm #search-input[type='text'] {
  color: var(--Dark_Grayish_Blue);
}
#myForm #search-input::placeholder {
  color: var(--Dark_Grayish_Blue);
}
/* main section  */
.main {
  background-color: var(--White);
}

/* First section  */
.user-name-join-date #name {
  color: var(--Very_Dark_Blue);
}
.user-description #join-date {
  color: var(--Dark_Grayish_Blue);
}
.user-description #bio {
  color: var(--Dark_Grayish_Blue);
}
/* Third section  */
.profile-data {
  background-color: var(--Very_Pale_Blue);
}
.profile-data .column .tag {
  color: var(--Dark_Grayish_Blue);
}
.profile-data .column .number {
  color: var(--Very_Dark_Blue);
}

/* Bottom section */
.social-contact > div {
  fill: var(--Dark_Grayish_Blue);
}
.social-contact div > a {
  color: var(--Dark_Grayish_Blue);
}

.social-contact > div:hover {
  fill: var(--Very_Dark_Blue);
}
.social-contact div > a:hover {
  color: var(--Very_Dark_Blue);
}
