@import 'style.css';

/* Add the light theme colors  */
body {
  background-color: var(--Very_Pale_Blue);
}
/* Header  */
.header .nav {
  background-color: var(--White);
}
/* Heading  */
.heading h1 {
  font-weight: var(--Very_Dark_Blue);
}
.heading .toggle_switch_btn {
  color: var(--Dark_Grayish_Blue);
  fill: var(--Dark_Grayish_Blue);
}
.heading .toggle_switch_btn:hover {
  color: var(--Very_Dark_Blue);
  fill: var(--Very_Dark_Blue);
}

/* Search bar  */

.nav .input {
  color: var(--Very_Dark_Blue);
}
.nav .input::placeholder {
  color: var(--Dark_Grayish_Blue);
}

/* main section  */
.main {
  background-color: var(--White);
}

/* First section  */
.user-name-join-date h2 {
  color: var(--Very_Dark_Blue);
}
.user-name-join-date p {
  color: var(--Dark_Grayish_Blue);
}
.user-description p {
  color: var(--Dark_Grayish_Blue);
}

/* Third section  */
.profile-data {
  background-color: var(--Very_Pale_Blue);
}
.profile-data .column .tag {
  color: var(--Dark_Grayish_Blue);
}
.profile-data .column .number {
  color: var(--Very_Dark_Blue);
}

/* Bottom section */
.social-contact > div {
  color: var(--Dark_Grayish_Blue);
  fill: var(--Dark_Grayish_Blue);
}

.social-contact > div:hover {
  color: var(--Very_Dark_Blue);
  fill: var(--Very_Dark_Blue);
}
