@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  /* color  palette */
  /* Primary */
  --Lime_Green: hsl(163, 72%, 41%);
  --Bright_Red: hsl(0, 91%, 62%);
  /* Icons & Buttons  */
  --Sky_Blue: hsl(212, 100%, 50%);
  /* font weight */
  --font-weight-bold: 700;
  --font-weight-light: 400;
  /* Light Theme */
  /* (BG ) */
  --BG: hsl(227, 100%, 98%);
  /* (Card BG) */
  --Card_BG: hsl(0, 0%, 100%);
  /* Text */
  --Text_Dark: hsl(217, 35%, 45%);
  --Text_Light: hsl(217, 20%, 51%);
  --Text_Darker: hsl(217, 21%, 21%);
}

.dark_theme {
  /* Dark Theme */
  /* (BG ) */
  --BG: hsl(220, 40%, 13%);
  /* (Card BG) */
  --Card_BG: hsl(222, 41%, 20%);
  /* Text */
  --Text_Darker: hsl(0, 0%, 100%);
  --Text_Dark: hsl(0, 0%, 90%);
  --Text_Light: hsl(0, 0%, 100%, 80%);
}

/* to prevent the page shaking issue */
html {
  overflow-y: scroll;
}

/* styling body */

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color */
  background-color: var(--BG);
}

/* Adding transitioin to body when switching between themes  */
body.bg_transition {
  transition: color 100ms ease-out, background-color 100ms ease-out;
}

/* Making all text margin=0 & padding=0 (removing the default margin and padding ) */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* style  header  */
.header {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 24px;
  margin-bottom: 12px;
}
.header .heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.heading .title {
  font-size: 24px;
  line-height: 38px;
  font-weight: var(--font-weight-bold);
  /* color */
  color: var(--Text_Darker);
}

/* style toggle switch button  */

.heading .toggle_switch_btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: var(--font-weight-bold);
  /* colors  */
  color: var(--Text_Light);
  fill: var(--Text_Light);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
#sun:focus {
  outline: none;
}
#moon:focus {
  outline: none;
}

.toggle_switch_btn #input_switch {
  display: none;
}

/* switch icons when transiting between themes  */
#input_switch:checked + .icon #sun {
  visibility: visible;
}

#input_switch:checked + .icon #moon {
  visibility: hidden;
}

/* Style the search bar  */

.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 69px;
  border-radius: 15px;
  margin-bottom: 8px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  /* color  */
  background-color: var(--Card_BG);
}
.nav .search-icon {
  margin-left: 24px;
  margin-right: 8px;
  fill: var(--Sky_Blue);
}

.no-results-tag {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  color: var(--Bright_Red);
  visibility: hidden;
  padding-left: 16px;
}
.no-results-tag.make_it_visible {
  visibility: visible;
}
/* style the form input field  */
#myForm #search-input {
  background-color: transparent;
  padding: 10px;
  width: 50%;
  border: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: var(--font-weight-light);
  /* color */
  color: var(--Text_Light);
}
#myForm #search-input::placeholder {
  color: var(--Text_Light);
}

#myForm #search-input:focus {
  outline: none;
}
/* Removing input background colour for Chrome autocomplete? */
#myForm #search-input:-webkit-autofill {
  -webkit-background-clip: text;
}

/* Style the search btn */
.nav .search-btn {
  position: absolute;
  right: 0px;
  margin-right: 24px;
  border: none;
  height: 50px;
  width: 106px;
  background-color: var(--Sky_Blue);
  color: var(--White);
  border-radius: 10px;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
}
.nav.error {
  border: 1.5px solid var(--Bright_Red);
  box-shadow: 0px 0px 2px 4px rgba(246, 70, 70, 0.25);
}
.nav .search-btn:hover {
  background-color: #5ca5f8;
}
.nav .search-btn:focus {
  outline: none;
}
/* Style the main section  */
.main {
  background-color: white;
  width: 50vw;
  display: grid;
  row-gap: 24px;
  border-radius: 15px;
  grid-template-columns: fit-content(110px);
  /* colors */
  background-color: var(--Card_BG);
}
/* Style the pofile image (main left section) */
.profile-img {
  margin: 32px;
  margin-right: 0;
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/5;
  width: 110px;
  height: 110px;
}
.profile-img img {
  border-radius: 100%;
  width: 110px;
  height: 110px;
  object-fit: cover;
}
/* first section  */
.user-name-join-date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/3;
  grid-row: 1/2;
  margin-right: 32px;
  margin-top: 32px;
  margin-left: 32px;
}
.user-name-join-date #name {
  font-size: 22px;
  line-height: 33px;
  grid-column: 1/2;
  grid-row: 1/2;
  /* colors */
  color: var(--Text_Darker);
}
.user-name-join-date #user-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-light);
  grid-column: 1/2;
  grid-row: 2/3;
  text-decoration: none;
  color: var(--Sky_Blue);
}
.user-name-join-date #join-date {
  font-size: 15px;
  line-height: 25px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;
  font-weight: var(--font-weight-light);
  /* colors */
  color: var(--Text_Light);
}

/* second section */
.user-description {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 32px;
  margin-left: 32px;
}
.user-description #bio {
  width: 100%;
  font-size: 14px;
  font-weight: var(--font-weight-light);
  line-height: 25px;
  /* colors */
  color: var(--Text_Light);
}

/* third section */
.profile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
  border-radius: 15px;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 32px;
  margin-left: 32px;
  /* colors */
  background-color: var(--BG);
}
.profile-data .column {
  display: flex;
  flex-direction: column;
}
.profile-data .column .tag {
  font-size: 13px;
  line-height: 20px;
  font-weight: var(--font-weight-bold);
  /* colors */
  color: var(--Text_Light);
}
.profile-data .column .number {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  /* colors */
  color: var(--Text_Darker);
}

/* Bottom section */

.social-contact {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  grid-column: 2/3;
  grid-row: 4/5;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}
.social-contact > div {
  justify-self: start;
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  font-weight: var(--font-weight-light);
  /* colors */
  fill: var(--Text_Light);
}
.social-contact > div:hover {
  fill: var(--Text_Darker);
}
.social-contact div > a {
  margin-left: 8px;
  /* colors */
  color: var(--Text_Light);
}
.social-contact div > a:hover {
  text-decoration: none;
  /* colors */
  fill: var(--Text_Darker);
}
.social-contact #company {
  text-decoration: none;
}
.social-contact #loc {
  text-decoration: none;
}
.social-contact .location.no-hover {
  pointer-events: none;
}

.social-contact .work-place.no-hover {
  pointer-events: none;
}

/* Media queries for screens width < 1100px */

@media (max-width: 1100px) {
  .header {
    width: 60vw;
  }
  .main {
    width: 60vw;
  }

  .profile-img {
    margin: 32px 16px 0 24px;
    grid-row: 1/2;
  }
  .user-name-join-date {
    margin-left: 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .user-name-join-date #user-name {
    grid-row: 2/3;
  }
  .user-name-join-date #join-date {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
  }
  .user-description {
    grid-column: 1/3;
  }
  .profile-data {
    grid-column: 1/3;
  }
  .profile-data .column {
    align-items: center;
  }
  .social-contact {
    grid-column: 1/3;
    justify-items: end;
  }
  .social-contact #blog-url {
    overflow: hidden;
  }
}

/* Media queries for screens width < 700px */

@media (max-width: 700px) {
  .header {
    width: 90vw;
  }
  .main {
    width: 90vw;
  }
  .nav #search-input {
    font-size: 14px;
    line-height: 22px;
  }
  .nav #search-input::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .nav .search-btn {
    height: 46px;
    width: 84px;
    margin-right: 4px;
    font-size: 14px;
  }
  .profile-img {
    margin-left: 16px;
  }
  .user-description {
    margin-left: 16px;
    margin-right: 16px;
  }
  .profile-data {
    margin-left: 16px;
    margin-right: 16px;
  }
  .social-contact {
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
}
