@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Adding transitioin to body when switching between themes  */
body.bg_transition {
  transition: color 100ms ease-out, background-color 1ms ease-out;
}

/* Making all text margin=0 & padding=0 (removing the default margin and padding ) */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* style  header  */
.header {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 24px;
}
.header .heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.heading h1 {
  font-size: 24px;
  line-height: 38px;
  font-weight: var(--font-weight-bold);
}

/* style toggle switch button  */

.heading .toggle_switch_btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: var(--font-weight-bold);
}
.toggle_switch_btn .icon {
  position: relative;
}
#sun {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
#sun:focus {
  outline: none;
}
#moon:focus {
  outline: none;
}

.toggle_switch_btn #input_switch {
  display: none;
}

/* Add transition to toggle switch icons when transiting between themes  */
#input_switch:checked + .icon #sun {
  visibility: visible;
  transition: opacity 1000ms 250ms cubic-bezier(0, 0, 0.2, 1),
    transform 1000ms 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#input_switch:checked + .icon #moon {
  visibility: hidden;
  transition: opacity 1000ms 250ms cubic-bezier(0, 0, 0.2, 1),
    transform 1000ms 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* Style the search bar  */

.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 69px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  margin-bottom: 18px;
}
.nav .search-icon {
  margin-left: 24px;
  margin-right: 8px;
  fill: var(--Sky_Blue);
}
.nav .input {
  border: none;
  background-color: transparent;
  width: 50%;
  padding: 12px 0;
  font-size: 18px;
  line-height: 25px;
}
.nav .no-results-tag {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  color: var(--Bright_Red);
  visibility: hidden;
}
.nav .input::placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: var(--font-weight-light);
}
.nav .input:focus {
  outline: none;
}
/* Style the search btn */
.nav .search-btn {
  position: absolute;
  right: 0px;
  margin-right: 24px;
  border: none;
  height: 50px;
  width: 106px;
  background-color: var(--Sky_Blue);
  color: var(--White);
  border-radius: 10px;
  font-size: 16px;
  font-weight: var(--font-weight-light);
  letter-spacing: 2px;
}
.nav .search-btn:hover {
  opacity: 0.8;
}
.nav .search-btn:focus {
  outline: none;
}
/* Style the main section  */
.main {
  width: 50vw;
  display: grid;
  grid-row-gap: 24px;
  border-radius: 15px;
}

/* Style the pofile image (main left section) */
.profile-img {
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/5;
}
.profile-img img {
  border-radius: 100%;
  width: 110px;
  height: 110px;
  object-fit: cover;
}
/* first section  */
.user-name-join-date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-right: 32px;
  margin-top: 32px;
  margin-left: 32px;
}
.user-name-join-date h2 {
  font-size: 22px;
  line-height: 33px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.user-name-join-date h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-light);
  grid-column: 1/2;
  grid-row: 2/3;
  color: var(--Sky_Blue);
}
.user-name-join-date p {
  font-size: 15px;
  line-height: 25px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;
}

/* second section */
.user-description {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 32px;
  margin-left: 32px;
}
.user-description p {
  width: 100%;
  font-size: 14px;
  font-weight: var(--font-weight-light);
  line-height: 25px;
}

/* third section */
.profile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
  border-radius: 15px;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 32px;
  margin-left: 32px;
}
.profile-data .column {
  display: flex;
  flex-direction: column;
}
.profile-data .column .tag {
  font-size: 13px;
  line-height: 20px;
  font-weight: var(--font-weight-bold);
}
.profile-data .column .number {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
}

/* Bottom section */

.social-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 18px;
  grid-row-gap: 8px;
  grid-column: 2/3;
  grid-row: 4/5;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}
.social-contact > div {
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  font-weight: var(--font-weight-light);
}
