:root {
  /* color  palette */
  /* Primary */

  --Lime_Green: hsl(163, 72%, 41%);
  --Bright_Red: hsl(0, 91%, 62%);

  /* Icons & Buttons  */
  --Sky_Blue: hsl(212, 100%, 50%);

  /* Dark Theme */
  /* (BG) */
  --Very_Dark_Blue_001: hsl(220, 40%, 13%);
  /* (Card BG ) */
  --Very_Dark_Blue_002: hsl(222, 41%, 20%);

  --Dark_Grayish_Blue: hsl(217, 20%, 51%);
  /* Text */
  --White: hsl(0, 0%, 100%);

  /* Light Theme */
  /* (BG ) */
  --Very_Pale_Blue: hsl(227, 100%, 98%);
  /* (Card BG) */
  --White: hsl(0, 0%, 100%);
  /* Text */

  --Light_Grayish_Blue: hsl(217, 35%, 45%);

  --Dark_Grayish_Blue: hsl(217, 20%, 51%);

  --Very_Dark_Blue: hsl(217, 21%, 21%);

  /* font weight */
  --font-weight-bold: 700;

  --font-weight-light: 400;
}
